################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TrojaRestaurant/FileContentIndex/049e9884-66d1-4624-abef-e2fcaa490c6d.vsidx
