################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TrojaRestaurant/FileContentIndex/049e9884-66d1-4624-abef-e2fcaa490c6d.vsidx
/.vs/TrojaRestaurant/FileContentIndex/8bc0ca00-fa0b-4ce7-b204-0c91a5fdb6be.vsidx
