@using Microsoft.AspNetCore.Http
@using TrojaRestaurant.Utility
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrojaRestaurant</title>
    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TrojaRestaurant.styles.css" asp-append-version="true" />
    <!--  Adding Toastr Alerts  -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css""/>
    <!--  Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!--  Adding DataTables  -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"/>

        <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">
        <!-- Favicon -->
    <link href="~/images/favicon.ico" rel="icon" asp-append-version="true">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin asp-append-version="true">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet" asp-append-version="true">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" asp-append-version="true">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" asp-append-version="true">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" asp-append-version="true">

</head>
<body>
    <div class="container-xxl position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Troja Restaurant</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0 pe-4">
                   
                    <a class="nav-item nav-link" asp-area="Customer" asp-controller="Cart" asp-action="Index">
                        @await Component.InvokeAsync("ShoppingCart")
                    </a>

                    <li class="nav-item">
                    <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-item nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">Order</a>
                    </li>

                    @if(User.IsInRole(SD.Role_Admin))
                    {
                    <li class="nav-item">
                    <a class="nav-item nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-item nav-link" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
                    </li>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>

        </nav>

    </div>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; TrojaRestaurant 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Adding Scripts-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" ></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" ></script>
    <script src="~/js/site.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" ></script>
    <script src="~/lib/wow/wow.min.js" ></script>
    <script src="~/lib/easing/easing.min.js" ></script>
    <script src="~/lib/waypoints/waypoints.min.js" ></script>
    <script src="~/lib/counterup/counterup.min.js" ></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js" ></script>
    <script src="https://kit.fontawesome.com/1405e59552.js"  crossorigin="anonymous" data-auto-replace-svg="nest"></script>

    
    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>

    <!-- JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="~/js/site.js" ></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!-- Adding DataTables JS-->
    <script src="//cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <!-- Adding Rich Editor-->
    <script src="https://cdn.tiny.cloud/1/6opnfwmwpj95joecwstqmweep322up1uuhwutnhmdvbd24g8/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
