@model TrojaRestaurant.Models.ViewModels.MenuViewModel

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <div class="border p-3 mt-4 row"> 
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Menu.Id!=0?"Update":"Create") Menu</h2>
            <hr />
        </div>
        <div class="mb-3">
             <label asp-for="Menu.Title"></label>
             <input asp-for="Menu.Title" class="form-control"/>
             <!--Adding Validation-->
             <span asp-validation-for="Menu.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
             <label asp-for="Menu.Description"></label>
             <textarea asp-for="Menu.Description" rows="3" class="form-control"/></textarea>
             <!--Adding Validation-->
             <span asp-validation-for="Menu.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
             <label asp-for="Menu.ImageUrl"></label>
             <input  type="file" id="uploadBox" class="form-control"/>
        </div>
        <div class="mb-3 col-6">
             <label asp-for="Menu.Price"></label>
             <input asp-for="Menu.Price" class="form-control"/>
             <!--Adding Validation-->
             <span asp-validation-for="Menu.Price" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
             <label asp-for="Menu.CategoryId"></label>
             <select asp-for="Menu.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                 <option disabled selected>Select Category</option>
             </select>
             <!--Adding Validation-->
             <span asp-validation-for="Menu.CategoryId" class="text-danger"></span>
        </div>
        <!--Submit Button-->
        <div class="col-12">
        @if (Model.Menu.Id != 0)
        {
            <button type="submit" class="btn btn-primary style" style="width=150px;">Update</button>
        }
        else{
            <button type="submit" onclick="return ValidateInput()" class="btn btn-primary style" style="width=150px;">Create</button>
        }
        </div>
    </div>
</form>

@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial.cshtml" />
    }
    <script>
         function ValidateInput(){
             if (document.getElementById("uploadBox").value == "") {
                 Swal.fire({
                     icon: 'error',
                     title: 'Oops...',
                     text: 'Please upload an Image!'
                 });
                 return false;
             }
             return true;

         }
    </script>
}